.sro {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.app {
    position: relative;
    height: 100vh;
    height: 100svh;
    font-family: var(--sans);
    background: var(--grey-50);
    padding: 0 1.25rem;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        background-image: radial-gradient(var(--grey-200) 1px, transparent 1px);
        background-size: 20px 20px;
        mask-image: linear-gradient(transparent, black 80%);
    }
}

.app__intro {
    width: 26.25rem;
    padding-top: 4rem;
    margin: 0 auto;
    line-height: 150%;
}

.app__subtitle {
    margin-top: 1rem;
    color: var(--grey-800);
}

.app__subtitle span {
    font-weight: bold;
}

.app__link {
    position: relative;
    display: inline-block;
    margin-top: 1rem;
    color: var(--grey-800);
    text-decoration: none;

    &:after {
        content: "";
        position: absolute;
        height: 0.0625rem;
        left: 0;
        bottom: 0;
        width: 100%;
        background: var(--grey-800);
        transition:  150ms width ease-out;
    }

    &:hover:after {
        width: 0;
    }
}
