.readmore {
    display: none;
    padding: 0 1.25rem 1.25rem;
    margin: 0.25rem 0;
    height: 19.5rem;
    overflow: auto;
}

#read-more:target {
    display: block;
}

#read-more:target + .linkpod__links {
    display: none;
}

.readmore__text,
.readmore__link,
.readmore__subtitle {
    color: var(--green);
    font-family: var(--mono);
    line-height: 200%;
}

.readmore__text:first-of-type {
    margin-top: -1.25rem;
}

.readmore__subtitle {
    margin-top: 2rem;
}

.readmore__close {
    display: inline-block;
    position: sticky;
    top: .5rem;
    left: 100%;
    padding: .5rem;
    color: var(--green);
    text-decoration: none;
}
